



*
{
margin:0;
padding:0;
}

.color
{
border-top:2px solid green;
border-bottom:5px solid green;
background-color:rgba(0,0,0,0.9);
margin-top:0px;
overflow:auto;

}

.left
{
display:inline-block;
color:white;
font-size:40px;
margin-left:25px;
letter-spacing:6px;
font-family:"Robato";
font-weight:bold;
}

.left:hover
{
color:orange;
}




.row1
{
background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)),url(pp.jpg);
height:130vh;
background-size:100% 100%;
background-position:center;
margin:0;
padding:0;
border-bottom:3px solid orange;
}




.login-box
{
width:500px;
position:relative;
left:25%;
transform:translate(7%,5%);
border:1px solid green;
padding:50px;
border-radius:10%;

}


.login-box h1
{

color:white;
float:left;
font-size:40px;
border-bottom:6px solid #4caf50;
margin-bottom:50px;
padding:13px 0;
}

.box{
    margin:30px 0;
    background-image: linear-gradient(rgba(118, 158, 243, 0.2),rgba(109, 184, 255, 0.2));
}

#gender
{
    color:white;
}

.textbox
{

width:100%;
color:white;
overflow:hidden;
font-size:20px;
padding:8px 0;
margin:8px 0;
border-bottom:1px solid #4caf50;

}

.textbox1
{

width:50%;
color:white;
overflow:hidden;
font-size:20px;
padding:8px 0;
margin:8px 0;


}

.textbox11
{
color:white;
font-size:17px;

}



.textbox input
{
border:none;

background:none;
color:white;
font-size:19px;
width:95%;
float:left;
margin:0 10px;
}

.btn1
{
width:18%;
background:none;
border-radius: 10px;
border:2px solid #4caf50;
color:white;
padding:8px;
font-size: 14px;
text-align: center;

}


